
# config files should not be saved, only defaults
/config/const.json
/config/dyn.json
/config/user.json

# ignore code workspaces
*.code-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
/classes/__pycache__/